/* forum des forums theme */
#fa_quick_login {
  color:#333;
  font-size:13px;
  font-family:Arial, Verdana, Sans-serif;
  background:#FFF;
  border:1px solid #DDD;
  border-radius:3px;
  box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
  margin-top:20px;
  position:fixed;
  z-index:40000;
}

#fa_quick_login:before {
  content:url('http://i21.servimg.com/u/f21/18/21/41/30/arrow10.gif');
  position:absolute;
  right:15px;
  top:-11px;
}

/* active color */
#fa_right a.rightHeaderLink.fa_login_actif {
  color:#FFF !important;
  background-color:#39C !important;
}

/* link colors */
#fa_quick_login a.gensmall { color:#39C }
#fa_quick_login a.gensmall:hover { color:#333 }

/* text input */
#fa_quick_login input {
  color:#333;
  background:#FFF;
  border:1px solid #CCC;
  border-radius:3px;
  padding:3px;
  margin:2px;
  cursor:text;
}

#fa_quick_login input:hover { border-color:#39C }
#fa_quick_login input:focus {
  border-color:#333;
  outline:none;
}

/* button style */
#fa_quick_login input.mainoption {
  color:#39C;
  border:1px solid #39C;
  background:none;
  font-weight:bold;
  display:block;
  width:100%;
  padding:6px 3px;
  margin-top:10px;
  cursor:pointer;
  transition:300ms;
}

#fa_quick_login input.mainoption:hover {
  color:#FFF;
  background:#39C;
}

#fa_quick_login input.mainoption:focus {
  color:#FFF;
  background:#8B5;
  border-color:#8B5;
}

/* table reset */
#fa_quick_login table.forumline, #fa_quick_login tr, #fa_quick_login td, #fa_quick_login th {
  border:none !important;
  background:none !important;
  border-radius:0 !important;
}

#fa_quick_login table.forumline { margin:-1px; }

#fa_quick_login .thHead {
  color:#FFF;
  font-size:13px;
  font-family:"Trebuchet MS", Arial, Verdana, Sans-serif;
  background:#39C !important;
  border-radius:3px 3px 0 0 !important;
  padding:3px 6px;
}

#fa_quick_login td {
  font-size:13px;
  padding:3px;
}
